<ion-view view-title="Chat">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="right">
      <button class="button button-clear icon ion-person" ng-click="changeUserName()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar" ng-repeat="message in messages">
        <img ng-src="https://sigil.cupcake.io/{{message.user.name || 'default'}}">
        <h2>{{message.user.name}}</h2>
        <p>{{message.content}}</p>
      </ion-item>
    </ion-list>
  </ion-content>

  <form ng-submit="sendMessage()">
    <ion-footer-bar class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="text" placeholder="Message" ng-model="message">
      </label>
      <button type="submit" class="button button-clear">Envoyer</button>
    </ion-footer-bar>
  </form>
</ion-view>
